<?xml version="1.0" encoding="UTF-8"?><!--
  Copyright 2016-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%nopex[%thread] %highlight(%-5level) %boldWhite(%logger{35}) -
                %message%n%highlight(%rootException{short})
            </pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>routeId</key>
            <defaultValue>system</defaultValue>
        </discriminator>
        <sift>
            <!-- Create a separate log file for each <key> -->
            <appender name="FILE-${routeId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${openig.base}/logs/route-${routeId}.log</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- Rotate files daily -->
                    <fileNamePattern>${openig.base}/logs/route-${routeId}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

                    <!-- each file should be at most 100MB, keep 30 days worth of history, but at most 3GB -->
                    <maxFileSize>100MB</maxFileSize>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>3GB</totalSizeCap>
                </rollingPolicy>

                <encoder>
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %message%n%xException</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Disable logs of exceptions attached to responses by defining 'level' to OFF -->
    <logger name="org.forgerock.openig.filter.LogAttachedExceptionFilter" level="INHERITED"/>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>